*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


#main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4bfbf;
}
#main div.container{
    width: 60%;
    padding: 82px;
    background-color: #746d6d;
    border-radius: 80px;
    box-shadow: -52px 34px 70px;
}
#main div.container form{
    background-color: #000;
    padding: 44px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 40px;
    box-shadow: -48px 32px 64px lavender;
    flex-direction: column;
}
#main div.container form div.top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#main div.container form #birthYear{
    padding: 14px;
    font-size: 18px;
    width: 45%;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: inset -4px 1px 11px 9px #9b9b9b;
}
#main div.container form #result{

    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid dodgerblue;
    text-align: center;
    box-shadow: inset 10px 10px 13px 5px #9b9b9b;
    width: 45%;
    padding: 14px;
}
#main div.container form #convert-btn{
    padding: 9px;
    font-size: 18px;
    display: inline-block;
    border-radius: 20px;
    background: #c4c3c3;
    border: 3px solid white;
    color: darkblue;
    font-weight: 700;
    box-shadow: inset 5px 8px 17px;
    max-width: 150px;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 130px;
    background-color: #848181;
}
header h1.left{
    width: 100px;
}
header h1.left a{
    width: 100%;
    display: inline-block;
}
header h1.left a img{
    width: 100%;
    display: inline-block;
}
header a.right{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    font-family: sans-serif;
    
}
header a.right:hover{
    text-decoration: underline;
}


#spotlight{
    height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: #323131;
    color: #fff;
    align-items: center;
}
#spotlight h1{
    font-size: 58px;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color:rgb(117, 126, 125);
    line-height: 4.5em;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;

}
#spotlight p{
    text-align: center;
    font-size: 28px;
    font-family:sans-serif;
    font-weight: 300;
    color: #c4c3c3;
    margin-bottom: 42px;
}
#spotlight p span{
    font-size: 32px;
    display: block;
    font-weight: 700;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#spotlight a.button{
    display: inline-block;
    background-color: #b5b5b5;
    padding: 20px 42px;
    border-radius: 35px;
    font-size: 24px;
    color: #000;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 2px 15px 11px 8px;
    border: solid 2px #fff;
    scroll-behavior: smooth;
}
a.button:hover{
    text-decoration: underline;
}


@media all and (max-width:1200px) {
    #spotlight h1{
        font-size: 48px;
    }
}


@media all and (max-width:1080px) {
    #main div.container form{
        flex-direction: row;
    }
    #main div.container form div.top{
        width: 45%;
        flex-direction: column;
    }
    #main div.container form div.top #birthYear{
        width: 100%;
        margin-bottom: 10px;
    }
    #main div.container form div.top input#result{
        width: 100%;
    }
    header h1.left{

    }
}


@media all and (max-width:768px) {
    #main div.container form{
        flex-direction: column;
        height: 196px;
    }
    #main div.container form div.top{
        width: 100%;
        flex-direction: column;
        
    }
    #main div.container form div.top #birthYear{
        width: 100%;
        margin-bottom: 10px;
    }
    #main div.container form div.top input#result{
        width: 100%;
    }
    header{
        padding: 20px 65px;
    }
}


@media all and (max-width:640px){
    header{
        justify-content: center;
    }
    header a.right{
        display: none;
    }
    #spotlight{
        
        padding: 38px 0;
    }
    #spotlight h1{
        font-size: 35px;
    }
    #spotlight p{
        font-size: 20px;
        margin-bottom: 50px;
    }
    #spotlight p span{
        font-size: 21px;
    }
    #spotlight a.button{
        font-size: 20px;
        padding: 18px 24px;
    }
    #main div.container{
        padding:56px
    }
    #main div.container form{
        box-shadow: -12px 16px 20px lavender;
    }
}


@media all and (max-width:480px){
    #spotlight{
        height: 46vh;
    }
    #spotlight h1{
        font-size: 26px;
    }
    #spotlight p{
        font-size: 18px;
        margin-bottom: 50px;
    }
    #spotlight p span{
        font-size: 19px;
    }
    #spotlight a.button{
        font-size: 19px;
        padding: 18px 24px;
    }
    #main div.container{
        padding:38px
    }
    #main div.container form{
        box-shadow:none;
    }
    #main div.container form div.top #birthYear{
        width: 100%;
        height: 16px;
        margin-bottom: 15px;
        font-size: 14px;
    }
    #main div.container form div.top input#result{
        width: 100%;
        height: 16px;
    }
    #main div.container form #convert-btn{
        max-width: 117px;
        padding: 7px;
        font-size: 15px;
    }
}


@media all and (max-width:360px){
    #spotlight h1{
        font-size: 26px;
    }
    #spotlight p{
        font-size: 16px;
        margin-bottom: 50px;
    }
    #spotlight p span{
        font-size: 18px;
    }
    #main div.container form{
        padding: 25px 44px;
    }

}